/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-운동 {
  fill: #B1D9AA;
}

.react-calendar-heatmap .color-기상 {
  fill: #F0E57F;
}

.react-calendar-heatmap .color-독서 {
  fill: #fd8446;
}

.react-calendar-heatmap .color-공부 {
  fill: #87B7FF;
}

.react-calendar-heatmap .color-multiple {
  fill: #92C7CF;
}

/* 
 * Excercise COlors
 */

.react-calendar-heatmap .color-운동-1 {
  fill: rgb(213, 231, 209);
}

.react-calendar-heatmap .color-운동-2 {
  fill: #B1D9AA;
}

.react-calendar-heatmap .color-운동-3 {
  fill: #94dd87;
}

.react-calendar-heatmap .color-운동-4 {
  fill: #5ad844;
}

.react-calendar-heatmap .color-독서-1 {
  fill: #f5bea2;
}

.react-calendar-heatmap .color-독서-2 {
  fill: #f38852;
}

.react-calendar-heatmap .color-독서-3 {
  fill: #fc7532;
}

.react-calendar-heatmap .color-독서-4 {
  fill: #fa5807;
}

.react-calendar-heatmap .color-공부-1 {
  fill: #bed5f7;
}

.react-calendar-heatmap .color-공부-2 {
  fill: #8cb7f9;
}

.react-calendar-heatmap .color-공부-3 {
  fill: #6da2f2;
}

.react-calendar-heatmap .color-공부-4 {
  fill: #0969f8;
}